<!-- Team Section -->
<h2 class="heading-margin-top"> Church Team Members</h2>
<p>Matthew 5:16 (NIV)
  “Let your light shine before others."</p>
<section id="team" class="team section py-5">

  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div
        class="col-lg-6 col-md-6 d-flex align-items-stretch"
        *ngFor="let staff of staffMembers; let i = index"
        [attr.data-aos-delay]="(i + 1) * 100"
        data-aos="fade-up"
      >
        <div class="staff-card">
          <div class="member-img">
            <img [src]="staff.photo" class="profile-pic" [alt]="staff.name" />
          </div>
          <div class="member-info">
            <h4>{{ staff.name }}</h4>
            <span class="designation">{{ staff.title }}</span>
            <p class="text-muted small mt-2">{{ staff.email }}</p>
          </div>
        </div>
      </div>
      <!-- End Team Member -->
    </div>
  </div>
</section>

