<h1 class="heading-margin-top" > El Bethel Assemblies of God </h1>
<p class="welcome-text justify-text">
  “A ministry rooted in Christ, committed to sharing His love and teachings, and a church passionate about honoring God and serving people.”
</p>
<p class="welcome-text justify-text">
  Welcome to El Bethel Assemblies of God Dortmund, a place where faith is alive and God’s power is experienced every day. We are a Spirit-led community passionate about worship, prayer, and witnessing the miraculous touch of God in our lives.
  At El Bethel Assemblies of God Dortmund, we believe the same God who healed, delivered, and performed wonders in the Bible continues to move today. Through prayer, faith, and the guidance of the Holy Spirit, we see lives restored, bodies healed, and hope renewed.

</p>
<br>

<p class="justify-text"><b>We have one morning service, every Sunday at 11:30 am. </b></p>
<p class="justify-text"> El Bethel Assembly of God services provide a time for worship and hearing a message from God’s word.
  We provide a staffed nursery for childcare during both worship services. The 11:15 am service has a Children’s program to help families build a Christian foundation for their children.
  The 11:30 am service also have Children’s program.
  Other opportunities are also available for growth and fellowship during the week. Guests are always welcome!

</p>


<h2 >How to Find Us</h2>
<ul>
  <li><b>Hannöversche Str. 22A, 44143 Dortmund</b></li>
  <li>Take tram U43 from any direction .Stop at Von-der-Tann Str.</li>
  <li> Follow Manteuffel Str. To Hannöversche Str. </li>
  <li>At the traffic light , turn right . Look for house number 22a</li>
</ul>




