<div class="profile-container">
  <div class="profile-left">
    <h3>Rev Fredrick G Nimako</h3>
    <h2>Church Senior Pastor</h2>
    <p>
      Rev. Pastor Fredrick is a passionate Pentecostal minister from Ghana, known for his powerful preaching, prophetic insights, and commitment to spiritual growth. Pastor Fredrick established El Bethel Assembly of God Church in Dortmund, marking the beginning of its mission and ministry in the city. Under his leadership, El Bethel Assembly of God Church has been serving Germany with a strong vision and dedication to transforming lives.
    </p>

  </div>

  <div class="profile-right">
    <img src="/fredrick.png" alt="Joe Robles standing on a busy street" />
  </div>
</div>
