<h2 class="heading-margin-top" >Sunday Worship Service

</h2>
<p class="justify-text"><i> <b>"Enter his gates with thanksgiving and his courts with praise; give thanks to him and praise his name." - Psalm 100:4</b></i></p>

<p class="justify-text">
  Experience a beautiful Sunday by praising and worshipping God with us at Homepage El Bethel Assemblies of God  e.V as a family.
  ‘Worship’ seasoned with the powerful and undeniable presence of the Holy Spirit and the life-changing
  ‘Word’ is a wonderful way to begin your week. Meet and fellowship with other members of our Church and
  you will be amazed to find out how much you belong here. If you’ve never visited us before, we’d love to have you over!


</p>


<h2 >How to Find Us</h2>
<ul>
  <li><b>Hannöversche Str. 22A, 44143 Dortmund</b></li>
  <li>Take tram U43 from any direction .Stop at Von-der-Tann Str.</li>
  <li> Follow Manteuffel Str. To Hannöversche Str. </li>
  <li>At the traffic light , turn right . Look for house number 22a</li>
</ul>






