.linktree-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  min-height: 300px;  /* adjust as needed */
}

.linktree-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.linktree-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
}

.linktree-content {
  flex: 1;
  padding: 20px 30px;
  text-align: left;
}

.linktree-content h2 {
  margin: 0 0 10px;
  font-size: 1.8rem;
  color: #0e2054;
}

.linktree-content p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #666;
}

.linktree-button {
  background-color: #0e2054;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linktree-button:hover {
  background-color: #1b3487;
}
