.event-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 900px;
  margin-inline: auto;
}

.event-info {
  flex: 1;
  padding-right: 20px;

  h2 {
    margin-top: 0;
    font-size: 24px;
    color: #2c3e50;
  }

  p {
    font-size: 16px;
    color: #555;
  }
}

.event-flyer img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}



.event-card img {
  width: 50%; /* makes image fit the card width */
  height: 100%; /* adjust as needed */
  overflow: hidden; /* ensures content doesn't overflow */
  border: 1px solid #ccc; /* optional, for visibility */
  padding: 10px; /* optional, for spacing */
}
