<div id="preloader" *ngIf="showPreloader">
  <div id="loader" class="dots-jump">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<div class="carousel">
  <!-- Slide Items -->
  <div class="carousel">
    <div class="list" [@carouselFade]="currentIndex">
      <div class="item" *ngFor="let slide of slides; let i = index" [class.active]="i === currentIndex">
        <div class="item-inner">
          <div class="content">
            <div class="author">{{slide.author}}</div>
            <div style="font-family: 'waterfall', cursive; color: #e6e209" class="title">{{slide.title}}</div>
            <div class="topic">{{slide.topic}}</div>
            <div class="des">{{slide.des}}</div>

            <br>
            <!-- Curved card -->
            <div class="curved-card">
              <button *ngIf="isLoggedIn" class="update-btn" (click)="toggleForm()">⟳</button> <!-- small round update button -->
              <!-- Bind the service time dynamically -->
              <p class="service-time">Sunday English Church Service : {{ serviceTime }}</p>
              <p class="service-time">Sunday School Bible Studies : {{sundaySchoolServiceTime}}</p>
              <p class="service-time">Sunday Twi Church Service : {{ twiServiceTime }}</p>
              <p class="service-address">{{ serviceAddress }}</p>
              <p class="mission">Love God. Love People. Making Disciples.</p>

              <!-- Update form (hidden by default) -->
              <form class="update-form" *ngIf="showForm" (ngSubmit)="updateTime()">
                <div class="input-row">
                  <input type="text" [(ngModel)]="serviceTime" name="time" placeholder="Enter new English service time" required />
                  <input type="text" [(ngModel)]="sundaySchoolServiceTime" name="sundaySchoolServiceTime" placeholder="Enter Sunday School time" required />

                </div>

                <div class="input-row">
                  <input type="text" [(ngModel)]="twiServiceTime" name="twiServiceTime" placeholder="Enter Twi service time" required />
                  <input type="text" [(ngModel)]="serviceAddress" name="serviceAddress" placeholder="Enter new address" required />
                </div>

                <button type="submit">Update</button>
              </form>

            </div>

          </div>
          <img [src]="slide.img" [alt]="slide.title" />

        </div>
      </div>
    </div>
    <!-- Thumbnails -->
    <div class="thumbnail">
      <div
        class="item"
        *ngFor="let slide of slides; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      >
        <img [src]="slide.img" [alt]="slide.title" />
      </div>
    </div>
  </div>



  <!-- Arrows -->
  <div class="arrows">


    <button (click)="prevSlide()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>
    <button (click)="nextSlide()">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </button>
  </div>


</div>



  <!-- About content from index.html -->
  <section id="about" class="s-about">

    <div class="row row-y-center about-content">

      <div class="column large-half medium-full">
        <h3 style="color: #0f1f54" class="subhead">{{'about.welcome.subhead' | translate}}</h3>
        <p class="lead">
          {{'about.welcome.description' | translate}}

        </p>
        <a (click)="togglePreloader()"  class="btn btn--primary btn--about">{{'about.welcome.button' | translate}}</a>
      </div>

      <div class="column large-half medium-full">
        <ul class="about-sched">
          <li>
            <h3>{{'about.schedule.main-church-service.title' | translate}} </h3>
            <p>
              {{'about.schedule.main-church-service.time' | translate}}
              <br>
              {{serviceAddress}}
            </p>
          </li>
          <li>
            <h3>      {{'about.schedule.bible-studies.title' | translate}}</h3>
            <p>
              {{'about.schedule.bible-studies.time' | translate}} <br>
              {{serviceAddress}}
            </p>
          </li>
          <li>
            <h3>  {{'about.schedule.prayer-meeting.title' | translate}}</h3>
            <p>
              {{'about.schedule.prayer-meeting.time' | translate}}

              <br>
              {{serviceAddress}}
            </p>
          </li>
        </ul> <!-- end about-sched-->
      </div>

    </div> <!-- end about-content -->

  </section>




<section class="s-events">

  <div class="row events-header">
    <div class="column">
      <h2 class="subhead">{{'events.subhead' |translate}}</h2>
    </div>
  </div> <!-- end event-header -->

  <div class="row block-large-1-2 block-900-full events-list">

    <div class="column events-list__item">
      <h3 class="display-1 events-list__item-title">
        <a href="#0" title="">{{'events.sunday-worship.title' |translate}}</a>
      </h3>
      <p>
        {{'events.sunday-worship.description' |translate}}
      </p>
      <ul class="events-list__meta">
        <li class="events-list__meta-date">    {{'events.sunday-worship.meta.date' |translate}}</li>
        <li class="events-list__meta-time">{{serviceTime}}</li>
        <li class="events-list__meta-location">              {{serviceAddress}}
        </li>
      </ul>
    </div> <!-- end events-list__item -->
    <div class="column events-list__item">
      <h3 class="display-1 events-list__item-title">
        <a href="#0" title="">{{'events.prayer-service.title' |translate}}</a>
      </h3>
      <p>
        {{'events.prayer-service.description' |translate}}
      </p>
      <ul class="events-list__meta">
        <li class="events-list__meta-date">  {{'events.prayer-service.meta.date' |translate}}</li>
        <li class="events-list__meta-time">  {{'events.prayer-service.meta.time' |translate}}</li>
        <li class="events-list__meta-location">                {{serviceAddress}}
        </li>
      </ul>
    </div> <!-- end events-list__item -->
    <div class="column events-list__item">
      <h3 class="display-1 events-list__item-title">
        <a href="#0" title="">{{'events.bible-studies.title' |translate}}</a>
      </h3>
      <p>
        {{'events.bible-studies.description' |translate}}
      </p>
      <ul class="events-list__meta">
        <li class="events-list__meta-date">{{'events.bible-studies.meta.date' |translate}}</li>
        <li class="events-list__meta-time">{{'events.bible-studies.meta.time' |translate}}</li>
        <li class="events-list__meta-location">              {{serviceAddress}}
        </li>
      </ul>
    </div> <!-- end events-list__item -->
    <div class="column events-list__item">
      <h3 class="display-1 events-list__item-title">
        <a href="#0" title=""> {{'events.midnight-service.title' |translate}}</a>
      </h3>
      <p>
        {{'events.midnight-service.description' |translate}}
      </p>
      <ul class="events-list__meta">
        <li class="events-list__meta-date">        {{'events.midnight-service.meta.date' |translate}}
        </li>
        <li class="events-list__meta-time">        {{'events.midnight-service.meta.time' |translate}}
        </li>
        <li class="events-list__meta-location">       {{serviceAddress}}
        </li>
      </ul>
    </div> <!-- end events-list__item -->

  </div> <!-- end events-list -->

</section>





<!--<section class="photo-gallery">-->


<!--<div class="row row-y-center series-content content_image">-->
<!--  <h1 class="text-white">Photo Gallery</h1>-->


<!--  <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">-->


<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_9.jpg"-->
<!--       data-responsive="/bethel_9.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_9_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_2.jpg"-->
<!--       data-responsive="/bethel_2.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_2_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_3.jpg"-->
<!--       data-responsive="/bethel_3.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_3_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_4.jpg"-->
<!--       data-responsive="/bethel_4.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_4_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_4.jpg"-->
<!--       data-responsive="/bethel_4.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_4_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_6.jpg"-->
<!--       data-responsive="/bethel_6.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_6_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_7.jpg"-->
<!--       data-responsive="/bethel_7.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_7_thumbnail_250.jpg" />-->
<!--    </a>-->
<!--    <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"-->
<!--       data-src="/bethel_9.jpg"-->
<!--       data-responsive="/bethel_9.jpg"-->
<!--       data-sub-html="<h4>Photo by - Pastor Fredrick  </h4>">-->
<!--      <img class="img-responsive"-->
<!--           src="/bethel_9_thumbnail_250.jpg" />-->
<!--    </a>-->


<!--  </lightgallery>-->

<!--</div> &lt;!&ndash; series-content &ndash;&gt;-->



<!--</section>-->



<section class="s-social">
  <app-whatsapp />
  <app-link-tree></app-link-tree>
  <app-free-conference-call></app-free-conference-call>
  <br>
  <div class="row social-content">
    <div class="column">
      <ul class="social-list">
        <li class="social-list__item">
          <a [href]="facebookLink" target="_blank" rel="noopener noreferrer" title="Facebook">
            <span class="social-list__icon social-list__icon--facebook"></span>
            <span class="social-list__text">Facebook</span>
          </a>
        </li>
        <li class="social-list__item">
          <a [href]="youtubeLink" target="_blank" rel="noopener noreferrer" title="YouTube">
            <span class="social-list__icon social-list__icon--youtube"></span>
            <span class="social-list__text">Youtube</span>
          </a>
        </li>
        <li class="social-list__item">
          <a [href]="instagramLink" target="_blank" rel="noopener noreferrer" title="Instagram">
            <span class="social-list__icon social-list__icon--instagram"></span>
            <span class="social-list__text">Instagram</span>
          </a>
        </li>
        <li class="social-list__item">
          <a href="mailto:eassembliesofgoddortmund@gmail.com"title="">
            <span class="social-list__icon social-list__icon--email"></span>
            <span class="social-list__text">Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- end social-content -->




</section> <!-- end s-social -->

<section class="s-events">
  <div class="row events-header">
    <div class="column">
      <h1 >Gallery</h1>
    </div>
  </div> <!-- end event-header -->
  <app-home-gallery/>
</section>


<!--<section class="s-events">-->
<!--  <div class="row events-header">-->
<!--    <div class="column">-->
<!--      <h1 >Connect With Us</h1>-->
<!--    </div>-->
<!--  </div> &lt;!&ndash; end event-header &ndash;&gt;-->
<!--  <app-connect-with-us></app-connect-with-us>-->
<!--</section>-->




